$font-weights: (
  thin: 100,
  hairline: 100,
  extra-light: 200,
  ultra-light: 200,
  light: 300,
  normal: 400,
  regular: 400,
  roman: 400,
  book: 400,
  medium: 500,
  semi-bold: 600,
  demi-bold: 600,
  bold: 700,
  extra-bold: 800,
  ultra-bold: 800,
  heavy: 900,
  black: 900
);

/**
 * Allows you to use the common name of a font weight rather than a number.
 */
@function font-weight($weight: normal) {
  // note: maps require sass v3.4.5
  @return map-get($font-weights, $weight);
}

@mixin font-weight ($weight: normal) {
  font-weight: font-weight($weight);
}
